{% extends 'layout.html' %}

{% block content %}

	<h3>Welcome to WikiPlugin Analysis!</h3><br>
	<p>
		Here you will find analyses about Wikipedia in general as well as about specific Wikipedia articles. On the Drill-Down page, after inputting a specific Wikipedia URL or article title, you will find information about the most related links and articles about similar topics for any specific Wikipedia article. On the Summary page,  you will find an analysis of the general topics found in Wikipedia. Finally, on the Simpl. Priority page, you will find a table showing the most difficult Wikipedia articles to date!<br><br>

		We are a group of five SFU Big Data students who want to improve the readability of Wikipedia as well as generate cool insights about their articles!<br><br>

		<b>Contact information:</b><br>
		Matthew Canute, <i>mcanute@sfu.ca</i><br>
		Young-min Kim, <i>yka85@sfu.ca</i><br>
		Donggu Lee, <i>donggul@sfu.ca</i><br>
		Suraj Swaroop, <i>sswaroop@sfu.ca</i><br>
		Adriena Wong, <i>adrienaw@sfu.ca</i><br>
	</p>

{% endblock content %}

