{% extends 'layout.html' %}
{% block content %}
	<h2>Simplification Priority</h2><br />
	<div style="width: 100%">
		<table style="table-layout: fixed; width: 100%">
			<colgroup>
				<col style="width: 5%;">
				<col style="width: 30%;">
				<col style="width: 35%;">
				<col style="width: 15%;">
				<col style="width: 15%;">
			</colgroup>
			<tr>
				<th>No.</th>
				<th>Title</th>
				<th>Link</th>
				<th>Difficulty</th>
				<th style="word-wrap: break-word">Read Time (min)</th>
			</tr>
			{% for i in range(5) %}
			<tr>
				<td>{{i+1}}</td>
				<td style="word-wrap: break-word">{{titles[i]}}</td>
				<td style="word-wrap: break-word"><a href="{{links[i]}}">{{links[i]}}</a></td>
				<td>{{difficulty[i]}}</td>
				<td>{{rtime[i]}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<br /><br />

{% endblock content %}

